@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    font-display: swap;
    src: url($f-url) format("woff");
  }
}

@include font('WWR', italic, 400, 'assets/fonts/CCWildWordsLower-Regular.woff');
@include font('WWI', italic, 400, 'assets/fonts/CCWildWordsLower-Italic.woff');
//@include font('Wild Words', italic, 400, 'assets/fonts/CC-Wild-Words-Italic.ttf');
//@include font('Wild Words', italic, 400, 'assets/fonts/CC-Wild-Words-Italic.ttf');