$lg-desktop-width: 1920px;
$md-desktop-width: 1440px;
$sm-tablets-width: 1024px;
$sm-mobile-width: 768px;
$extra-sm-mobile-width: 480px;

/*==========  Desktop First  ==========*/


@mixin lg-desktop {
  @media only screen and (max-width: #{$lg-desktop-width}) {
    @content
  }
}
@mixin md-desktop {
  @media only screen and (max-width: #{$md-desktop-width}) {
    @content
  }
}
@mixin sm-tablets {
  @media only screen and (max-width: #{$sm-tablets-width}) {
    @content
  }
}
@mixin sm-mobile {
  @media only screen and (max-width: #{$sm-mobile-width}) {
    @content
  }
}
@mixin ems-mobile {
  @media only screen and (max-width: #{$extra-sm-mobile-width}) {
    @content
  }
}