@import 'variables.scss';
@import '_reset.scss';
@import '_font.scss';
@import '_grid.scss';
@import 'mixin.scss';
@import 'animations.scss';

* {
  box-sizing: border-box;
}

body, 
html {
  display: block;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: $designFont;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

main {
  //background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);

  height: 100%; // Тут высота блока
  width: 100%; // Тут длина
  background: rgb(170,200,200);
  background: radial-gradient(circle, rgba(170,200,200,1) 0%, rgba(195,137,201,1) 51%, rgba(181,128,113,1) 100%);
  animation: gradient 20s infinite linear; // 10s - скорость анимации
  background-size: 400%; // Можно менять и подбирать интенсивность

  @keyframes gradient {
    0% {
      background-position: 80% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 80% 0%;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a, 
button {
  cursor: pointer;
} 
