// hidden
@mixin visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// titles
@mixin title {
  font-family: 'Roboto', cursive;
  font-style: italic;
  font-weight: 400;
  color: black;
}
@mixin modal-title {
  font-weight: 700;
  color: $dark-purple;
}

//containers
@mixin form-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

//decoration
@mixin title-shadow {
  text-shadow: 1px 1px 2px $dark-purple;
}
@mixin container-shadow {
  box-shadow: 0px 0px 4px .5px $pa-gr_dark-pink  ;
}
@mixin iridescent-gradient {
  height: 100%; // Тут высота блока
  width: 100%; // Тут длина
  background: rgb(170,200,200);
  background: radial-gradient(circle, rgba(170,200,200,1) 0%, rgba(195,137,201,1) 51%, rgba(181,128,113,1) 100%);
  animation: gradient 20s infinite linear; // 10s - скорость анимации
  background-size: 400%; // Можно менять и подбирать интенсивность

  @keyframes gradient {
    0% {
      background-position: 80% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 80% 0%;
    }
  }
}
@mixin background-gradient {
  &.ilDes {
    background: linear-gradient(45deg, $il-des_dark-blue 0%, $il-des_light-blue  100%);
  }
  &.paGr {
    background: linear-gradient(45deg, $pa-gr_dark-pink 0%, $pa-gr_light-pink  100%);
  }
  &.taSk {
    background: linear-gradient(45deg, $ta-sk-le_dark-brown 0%, $ta-sk-le_light-brown 100%);
  }
  &.likes {
    background: linear-gradient(45deg, $dark-purple 0%, $accent-pink 100%);
  }
}
