// hidden
@mixin visually-hidden() {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// titles
@mixin title {
  font-family: 'CC Wild Words';
  font-style: italic;
  font-weight: 400;
  color: black;
}
@mixin modal-title {
  font-weight: 700;
  color: $contur-dark-purple;
}

//containers
@mixin form-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

//decoration
@mixin title-shadow {
  text-shadow: 1px 1px 2px $contur-dark-purple;
}

@mixin gradient {
  height: 100%; // Тут высота блока
  width: 100%; // Тут длина
  background: rgb(170,200,200);
  background: radial-gradient(circle, rgba(170,200,200,1) 0%, rgba(195,137,201,1) 51%, rgba(181,128,113,1) 100%);
  animation: gradient 20s infinite linear; // 10s - скорость анимации
  background-size: 400%; // Можно менять и подбирать интенсивность

  @keyframes gradient {
    0% {
      background-position: 80% 0%;
    }
    50% {
      background-position: 20% 100%;
    }
    100% {
      background-position: 80% 0%;
    }
  }
}