:root {
  // Fonts
  --RobotoFont                : 'Roboto', sans-serif;
  --WildRegularFont           : "Wild Words Regular", sans-serif;
  --WildItalicFont           : "Wild Words Italic", italic;

  //color-style
  --white-translucent          :rgba(255, 255, 255, 0.4);
  --white-light-translucent    :rgba(255, 255, 255, 0.8);
  --white                      :rgba(255, 255, 255, 1);
  --black                      :#191A1C;

  --il-des_light-blue          :#AAC8C8;
  --il-des_dark-blue           :#247095;
  --pa-gr_light-pink           :#C389C9;
  --pa-gr_dark-pink            :#713349;
  --ta-sk-le_light-brown       :#B58071;
  --ta-sk-le_dark-brown        :#804B3A;

  --dark-purple                :#311F2D;
  --dark-purple-translucent    :rgba(49, 31, 45, 0.7);
  --accent-pink                :#E3D2D8;

  //transition
  --time-transition            : 0.3s;
  --accent-time-transition     : 0.8s;
  --param-transition           : ease-in;
}

// Fonts
$RobotoFont               :  var(--RobotoFont);
$WildRegularFont          :  var(--WildRegularFont);
$WildItalicFont          :  var(--WildItalicFont);

//colors
$white-translucent          :  var(--white-translucent);
$white-light-translucent    :  var(--white-light-translucent);
$white                      :  var(--white);
$black                      :  var(--black);

$il-des_light-blue          :  var(--il-des_light-blue);
$il-des_dark-blue           :  var(--il-des_dark-blue);
$pa-gr_light-pink           :  var(--pa-gr_light-pink);
$pa-gr_dark-pink            :  var(--pa-gr_dark-pink);
$ta-sk-le_light-brown       :  var(--ta-sk-le_light-brown);
$ta-sk-le_dark-brown        :  var(--ta-sk-le_dark-brown);

$dark-purple                :  var(--dark-purple);
$dark-purple-translucent    :  var(--dark-purple-translucent);
$accent-pink                :  var(--accent-pink);

//transition
$time-transition            :  var(--time-transition);
$accent-time-transition     :  var(--accent-time-transition);
$param-transition           :  var(--param-transition);